
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: none;
    text-decoration: none;
    
    /* color: var(--black); */

    /* font-family: var(--primary); */
    

}

html{
    zoom: 120%;
}
:root{
    --script: "Berkshire Swash";
    --primary : "Mulish";
    --secondary : "Philosopher";
    --accent : #527354;
    --contrast : #f2eac6;
    --white : #f5f5f5;
    --black  : #2e3233;

}