.container{
    display: grid;
}
.categories{
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fill,minmax(12em,2fr));
}
.category{
    display: flex;
    gap: 5px;
    font-size: 15pt;
    align-items: center;
    padding: 2px 10px;
    /* justify-content: space-between; */
    /* border-radius: 10px; */
    cursor: pointer;
    /* background-color: var(--soft); */
    border: 2px solid var(--contrast);
    color: var(--accent);
    transition: background-color 0.5s ease ;

}
.categoryname{
    font-family: var(--primary);
    font-weight: 800;
}
.category:hover{
    background-color: var(--contrast);
}

