.container{
    
    display: flex;
    flex-direction: column;
    z-index: 0;
    gap: 0.4em;
}
.blogs{
    /* width: 90%; */
    display: grid;
    /* flex-wrap: wrap; */
    grid-auto-rows: auto;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(12em,1fr));
    grid-template-rows: repeat(auto-fill, 11em);
    
    /* justify-content: flex-start; */
}



.Card{
    position: relative;
   /* display: flex; */
   /* flex-direction: column; */
   /* align-items: flex-start; */

   /* justify-content: space-around; */
   box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.197) ;
   
   width: 100%; 

   height: 10em;
   /* padding: 1%; */
   overflow: hidden;
}
.information{
    height: 100%;
    /* padding: 1%; */
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}


.Card img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease;

    height: 10em;
    width: 100%;
    /* magicline */
    object-fit: cover;

    /* border-top-left-radius: 10px; */
    /* border-bottom-right-radius: 6px; */
}

.timeinfo{
    display: none;
}
.time:hover>.timeinfo{
    display: block;
}
.time:hover{
    padding: 1px 5px 1px 1px;
    background-color: var(--soft);
    border-radius: 10px;
    display: flex;
    width: auto;
}
.time{
    /* grid-area: time; */
    z-index: 2;
    font-size: 10pt;
    background-color: var(--soft);
    /* padding: 2px; */
    color: var(--accent);
    font-weight: bold;    /* position: relative; */
    /* width: auto; */
    /* top: 14px; */
    /* margin: 1px 10px 1px 1px; */
    margin-top: 2px;
    margin-left: 5px;
    width: 1.5em;
    display: flex;
    align-items: center;
    /* gap: 2px; */
    border-radius: 50%;
    /* border-bottom-left-radius: 10px; */
    /* align-items: center; */
    justify-content: center;
    height: 1.5em;
}

.time lord-icon{
    /* margin-top: 1px; */
    width: 18px;
    
}
.heading{
    display: inline;

    color: var(--accent);
    padding: 1%;    
    font-size: 14px;
    background-color:var(--soft);
    /* background: linear-gradient(to top right, var(--contrast),var(--soft)); */
    /* backdrop-filter: blur(2px); */
    z-index: 2;
    margin: 1%;
    font-weight: bold;
    width: 90%;
    /* background-clip: text; */
    /* width: auto; */
    /* border-radius: 10px; */
    outline: 1px solid transparent;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
}

.Card:hover{
    cursor: pointer;
    /* border-left: 3px solid var(--accent) ; */
    /* box-shadow: 10px 15px 0px var(--accent); */
}
.Card:hover img{
    transform: scale(1.2);
    
}
@media screen and (max-width : 730px) {

.container{
    margin: 0.4em 0.8em;
    padding: 0.4em;
}


    .blogs{
    grid-template-columns: 100%;
    grid-template-rows: 8em;
        /* gap: 3em; */
    }
    .Card img{
        height: 8em;
    }
    .Card{
        height: 8em;
    }
    .time{
    font-size: 8pt;

    }
}





