.navbar {
    display: flex;
    font-family: var(--primary);
    justify-content: space-around;
    align-items: center;

}

.links-mob {
    display: none;
}

.navbar .links,
.links-picks {

    display: flex;
    /* gap: 1em; */
    font-size: 10pt;
    font-weight: 600;
}

.navbar a {
    color: var(--black);
    padding: 0.2em max(0.3em, 0.8vh);
    transition: all 0.2s ease-out;
}

.navbar a:hover {
    /* font-size: 11pt; */
    transform: scale(1.1);
    color: var(--accent);

    /* font-weight: bold; */
    border-radius: 15px;
    /* border: 0.2px solid var(--accent); */
}


.blogo {
    color: var(--accent);
    font-size: 10pt;
    display: flex;
    align-items: center;
}

.blogo .S {
    font-size: 49pt;
    font-weight: bolder;
    font-family: var(--secondary);
    color: transparent;
    background-image: url(../Media/green-light.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;

}



.bname {
    margin-left: -0.1em;
    font-family: var(--script);
    /* line-height: 15px; */
    display: flex;
    /* align-items: center ; */
    flex-direction: column;
    justify-content: center;
}

.pots {
    line-height: 12px;
}

.tains {
    line-height: 7px;
    margin-bottom: 0.1em;
}

@media screen and (max-width : 730px) {

    .navbar {
        margin-top: 0.5em;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .blogo {
        margin-bottom: 0.4em;
        line-height: 20px;
        align-items: center;
        order: -1;
        font-family: var(--script);
        font-weight: bold;
        font-size: min(18pt,5vw);
      
    }
    .blogo .S{
        display: none;
    }
    .bname{
        gap: 0.2em;
        align-items: center;
        flex-direction: row;
    }
    .pots::before{
        content: "S";
    }
    .tains::before{
        content: "S";
    }

    .navbar .links,
    .links-picks {
        display: none;
        /* justify-content: center; */
        /* width: 40px; */
    }

    .links-mob {
        display: flex;
        font-size: 8pt;
        flex-wrap: wrap;
        justify-content: center;

        font-weight: 600;
    }

    .links-mob a {
        font-size: min(10pt,2.5vw);
        color: var(--black);
        padding: 0.2em max(0.3em, 0.8vh);
        transition: all 0.2s ease-out;
    }
    .links-mob .selected{
       color: var(--accent);
       font-weight: bold;

    }


}





/* Starting Searchbar component here  */




