



.searchmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchmenu .heroimg{
    height: 8em;

    background-position: 0px -20px;
    background-size: cover;
    background-image: url("../Media/herobg.jpg");
    max-width: 100%;
    /* max-height: 100%; */
    width: min(35em,55vw);
    /* border-radius: 15px; */
    /* border: 1px solid var(--accent);
*/
}
.searchbar{
    display: flex;

    align-items: stretch;
    margin-top: -1.25em;
}

.searchbar input{
    font-family: var(--primary);

        width: max(14em,20vw);
        
    /* border-radius:10px; */
    /* border: 1.5px solid var(--accent); */

    padding: 0.5em 1.2em;

    background-color: var(--white);
    font-size: max(10pt,1vw);
}

.searchbar button{
    font-family: var(--secondary);
    cursor: pointer;
    background-color: var(--contrast);
    color: var(--accent);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 8px;
    /* height: 1.5em; */
    margin-left: -2em;
    /* border: 1px solid var(--contrast); */

    width:7em;
    font-size: max(10pt,1vw);
    transition: border-bottom-left-radius,
    border-top-left-radius
    0.4s
    ease;


    display: flex;
    align-items: center;
    justify-content: center;
}


.searchbar button:hover{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 30px;
}

.searchbar button lord-icon{
    width: 25px;
    color: var(--accent);
}
@media screen and (max-width : 730px) {
    .searchbar{
    margin-top: -0.8em;

    }
    .searchbar input{
        font-family: var(--primary);
    
            width: max(12em,30vw);
            
        /* border-radius:10px; */
        /* border: 1.5px solid var(--accent); */
    
        padding: 0.5em 1.2em;
    
        background-color: var(--white);
        font-size: max(7pt,1.5vw);
    }
    .searchbar button{
        font-size: max(8pt,1.5vw);

    }

    .searchmenu .heroimg{
        height: 5em;
    }
}

